body {
  margin: 0 !important;
  background-color: #222;
  font-family: 'Nunito', sans-serif;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.task {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: fixed;
  top: 150vh;
  left: 50%;
  width: max-content;
  height: max-content;
  z-index: 1000000;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease;
}

.modal_show {
  top: 50%;
}

.modal__alert {
  color: #FFF;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.hidden {
  display: none;
}

.task__refresh {
  height: 30px;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px auto;
  display: block;
  border: none !important;
  background-color: #c5c5c5;
  outline: none !important;
  cursor: pointer;
}

.task__refresh:active {
  background-color: #aeaeae;
}

/* Manifolds specific */
.manifolds {
  width: 532px;
  height: 569px;
  background-image: url('base.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.manifolds__panel {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 145px;
  position: absolute;
  top: 83px;
  left: 64px;
  z-index: 1;
}

.manifolds__veil {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  background-color: rgba(0, 70, 255, 0.1);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.manifolds__button {
  width: 62px;
  height: 62px;
  background-color: #CCCCCC;
  font-size: 30px;
  color: #000000;
  border: none;
  border-radius: 4px;
  outline: none !important;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.manifolds__button_active {
  background-color: #00d100;
}

.manifolds__panel_wrong .manifolds__button {
  animation: wrong-button .5s steps(1) 1;
}

@keyframes wrong-button {
  0% {
    background-color: #cc0000;
  }

  30% {
    background-color: #CCCCCC;
  }

  60% {
    background-color: #cc0000;
  }
}